.bb-color {
  color: #c5050c;
}

.ens-color {
  color: rgb(44, 70, 166);
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.footer {
  text-align: left;
  margin-top: auto;
  margin-left: 5px;
  width: 100%;
  border-top: 0.5px solid black;
}

.footer-text {
  font-size: 14px;
  color: #000000;
  font-family: "Inter", sans-serif;
  margin: 2px;
  padding: 2px;
}
